*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#000;
color:#fff;
display:flex;
flex-direction:column;
min-height:100vh;
}

header{
background:#050505;
padding:20px 40px;
display:flex;
justify-content:space-between;
align-items:center;
border-bottom:2px solid #d4af37;
flex-wrap:wrap;
}

.logo h1{
color:#d4af37;
font-size:32px;
}

.logo p{
color:#cfcfcf;
margin-top:5px;
}

nav{
margin-top:10px;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:18px;
font-weight:bold;
transition:.3s;
}

nav a:hover{
color:#d4af37;
}

.hero{
min-height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:40px 20px;
background:linear-gradient(rgba(0,0,0,.88),rgba(0,0,0,.88));
}

.hero-content{
max-width:900px;
}

.yakshini-title{
font-size:72px;
color:#d4af37;
letter-spacing:2px;
margin-bottom:20px;
}

.english-title{
display:flex;
align-items:center;
justify-content:center;
margin-bottom:25px;
}

.english-title span{
width:140px;
height:2px;
background:#d4af37;
}

.english-title p{
margin:0 15px;
letter-spacing:10px;
font-size:22px;
color:#ffffff;
}

.tagline{
font-size:40px;
color:#ffffff;
margin-bottom:25px;
font-weight:bold;
}

.welcome{
font-size:20px;
color:#cccccc;
margin-bottom:35px;
}

.hero-buttons{
margin-top:20px;
}

.btn{
display:inline-block;
padding:15px 30px;
margin:10px;
background:#d4af37;
color:#000;
text-decoration:none;
font-weight:bold;
border-radius:8px;
transition:.3s;
}

.btn:hover{
background:#ffffff;
transform:translateY(-3px);
}

.latest-release{
background:#111;
padding:70px 20px;
text-align:center;
}

.latest-release h2{
color:#d4af37;
font-size:42px;
margin-bottom:40px;
}

.movie-card{
max-width:700px;
margin:auto;
background:#1b1b1b;
border:2px solid #d4af37;
border-radius:15px;
padding:30px;
}

.movie-card h3{
font-size:42px;
color:#d4af37;
margin-bottom:15px;
}

.movie-card p{
font-size:18px;
margin-bottom:15px;
color:#dddddd;
}

footer{
background:#050505;
padding:20px;
text-align:center;
margin-top:auto;
border-top:2px solid #d4af37;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
text-align:center;
margin-top:20px;
}

nav a{
display:inline-block;
margin:8px;
}

.yakshini-title{
font-size:46px;
}

.english-title span{
width:60px;
}

.english-title p{
letter-spacing:5px;
font-size:16px;
}

.tagline{
font-size:24px;
}

.welcome{
font-size:16px;
}

.btn{
display:block;
width:260px;
margin:15px auto;
}

.latest-release h2{
font-size:30px;
}

.movie-card h3{
font-size:30px;
}

}
